/********************************************

NOTES
	- 	This is the primary CSS file.  All code pertaining specifically to
		this project should live in here.  Any changes

	RESOURCES
		-	https://loremipsum.io/
		- 	https://codepen.io/
		- 	https://cdnjs.com/

	HELP
		- 	https://caniuse.com/
		- 	https://css-tricks.com/

	MISC. NOTES
		- 	.clearfix - clearfix interferes with flexbox code, 
			as the :after is treated as a normal child element.
			Do not clearfix on a flex element.

	  

********************************************/

/********************************************

BASIC FRAMEWORK OVERRIDES
	- 	Use this section to override basic things
		like fonts, base font size, container width, etc.

********************************************/
	
	/***** ===== *****/
	/***** Fonts *****/
	/***** ===== *****/
		html {
			font-family: var(--font_sans);
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
		}

		body {
			font-size: 1.8rem;
		}

		/***** ========= *****/
		/***** Add Fonts *****/
		/***** ========= *****/
			@font-face {
				font-family: "Computerfont";
				src: url("/css/fonts/Computerfont.ttf") format("ttf");
				font-weight: 100;
			}

			:root{
				--font_display: 'Computerfont', monospace;
			}

	/***** =============== *****/
	/***** Container Width *****/
	/***** =============== *****/
		.container{
			/* Override template value*/
			max-width: 1450px;
		}



/********************************************

GENERAL 

********************************************/

	

	
		

		
		





/********************************************

HOME PAGE

********************************************/

	/***** ==== *****/
	/***** Hero *****/
	/***** ==== *****/

		.-hm_hero_1{
			background-position: center top;
		}

		/***** Content *****/
			.-hm_hero_1 .headline{
				font-family:  var(--font_display);
				font-weight: 100;
			}
			.-hm_hero_1 .subhead{
				font-family:  var(--font_display);
				font-weight: 100;
			}


/********************************************

INNER PAGES

********************************************/




/********************************************

BLOG PAGES

********************************************/