<nav id="nav_desktop" class="nav">
	<div class="container">
		
		<div class="logo">
			<a  href="/" aria-label="Home">
				<img src="/img/hm-logo-nav.png" alt="Logo" />
			</a>
		</div>
		
		
		<div class="links">

			<ul class="nolist">
				<li>
					<a class="" href="/" aria-label="Hero">Home</a>
				</li>
				<li>
					<a class="" href="/admin" aria-label="Netlify CMS">Netlify CMS</a>
				</li>
				<li>
					<a class="" href="/about" aria-label="About">About</a>
				</li>
				<li>
					<a class="" href="/blog" aria-label="Blog">Blog</a>
				</li>
			</ul>

			<div class="nav_button" aria-label="Nav Open">
				<i class="fas fa-bars"></i>
			</div>

		</div>
	</div>
	
</nav>